<!DOCTYPE html>
<html lang="th">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" />

  <title>
    <%- title %>
  </title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div>
      <a class="navbar-brand" href="/">MVC</a>
      <a class="navbar-brand" href="/">SHOW</a>
      <a class="navbar-brand" href="/">CREATE</a>
      <a class="navbar-brand" href="/">DELETE</a>
      <a class="navbar-brand" href="/">UPDATE</a>
    </div>
    </div>
  </nav>

  <div>
    <h1>heetnaorsintoi</h1>
    <div id="table" class="container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">NAME</th>
            <th scope="col">LATITUDE</th>
            <th scope="col">LONGITUDE</th>
            <th scope="col">Score</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% if (response) { %>
            <% response.forEach(function(a){ %>
              <tr>
                <td>
                  <%= a.id %>
                </td>
                <td>
                  <%= a.name %>
                </td>
                <td>
                  <%= a.lat %>
                    <%= a.lat_mer %>
                </td>
                <td>
                  <%= a.lon %>
                    <%= a.lon_mer %>
                </td>
                <td>
                  <%= a.score %>
                </td>
                <td>
                  <a href="/edit/<%= a.id %>">EDIT</a> &nbsp;
                  <form method="post" action="/deletelocationby/<%= a.id %>" style="float:right">
                    <input type="submit" name="post" value='Delete'
                      onClick="return confirm('Are you sure you want to delete?')" />
                    <input type="hidden" name="_method" value="DELETE" />
                  </form>
              </tr>
              <% }) %>
                <% } %>
        </tbody>
      </table>
    </div>
  </div>

  <footer class="bg-light text-center text-lg-start">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2022 Made By:
      <a class="text-dark" href="https://github.com/zergreen/">63050159 Phongsakorn Kawhaolai</a>
    </div>
  </footer>
</body>

</html>